.header {
  position: fixed;
  top: 0;
  background-color: #222831;
  height: 5%;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1rem;
  .home__button {
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.25rem;
    border: none;
    background-color: #00adb5;
  }
}
